SUBSYSTEM=="power_supply", RUN+="/usr/bin/pkill -RTMIN+2 i3blocks"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_STATUS}!="Discharging", RUN+="/usr/bin/cpupower frequency-set -u 3.7GHz"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_STATUS}=="Discharging", RUN+="/usr/bin/cpupower frequency-set -u 2.5GHz"
